  <footer>
    <div class="footer_item">
      <p class="list-item">这是页脚</p>
    </div>
    <div class="footer_item">
      <p class="list-item">这是页脚</p>
    </div>
    <div class="footer_item">
      <p class="list-item">这是页脚</p>
    </div>
    <div class="footer_item">
      <p class="list-item">这是页脚</p>
    </div>
    <div class="footer_item">
      <p class="list-item">这是页脚</p>
    </div>
    <div class="footer_item">
      <p class="list-item">这是页脚</p>
    </div>
    <div class="footer_item">
      <p class="list-item">这是页脚</p>
    </div>
    <div class="footer_item">
      <p class="list-item">这是页脚</p>
    </div>
  </footer>
<hr/>