<main>
  <div class="item">
    <p class="text">这是主体这是主体这是主体这是主体这是主体这是主体这是主体这是主体这是主体这是主体这是主体这是主体</p>
    <p class="text">这是主体这是主体这是主体这是主体这是主体这是主体这是主体这是主体这是主体这是主体这是主体这是主体</p>
  </div>
  <div class="item">
    <p class="text">这是主体这是主体这是主体这是主体这是主体这是主体这是主体这是主体这是主体这是主体这是主体这是主体</p>
    <p class="text">这是主体这是主体这是主体这是主体这是主体这是主体这是主体这是主体这是主体这是主体这是主体这是主体</p>
  </div>
  <div class="item">
    <p class="text">这是主体这是主体这是主体这是主体这是主体这是主体这是主体这是主体这是主体这是主体这是主体这是主体</p>
    <p class="text">这是主体这是主体这是主体这是主体这是主体这是主体这是主体这是主体这是主体这是主体这是主体这是主体</p>
  </div>
  <div class="item">
    <p class="text">这是主体这是主体这是主体这是主体这是主体这是主体这是主体这是主体这是主体这是主体这是主体这是主体</p>
    <p class="text">这是主体这是主体这是主体这是主体这是主体这是主体这是主体这是主体这是主体这是主体这是主体这是主体</p>
  </div>
  <div class="item">
    <p class="text">这是主体这是主体这是主体这是主体这是主体这是主体这是主体这是主体这是主体这是主体这是主体这是主体</p>
    <p class="text">这是主体这是主体这是主体这是主体这是主体这是主体这是主体这是主体这是主体这是主体这是主体这是主体</p>
  </div>
  <div class="item">
    <p class="text">这是主体这是主体这是主体这是主体这是主体这是主体这是主体这是主体这是主体这是主体这是主体这是主体</p>
    <p class="text">这是主体这是主体这是主体这是主体这是主体这是主体这是主体这是主体这是主体这是主体这是主体这是主体</p>
  </div>
  <div class="item">
    <p class="text">这是主体这是主体这是主体这是主体这是主体这是主体这是主体这是主体这是主体这是主体这是主体这是主体</p>
    <p class="text">这是主体这是主体这是主体这是主体这是主体这是主体这是主体这是主体这是主体这是主体这是主体这是主体</p>
  </div>
  <div class="item">
    <p class="text">这是主体这是主体这是主体这是主体这是主体这是主体这是主体这是主体这是主体这是主体这是主体这是主体</p>
    <p class="text">这是主体这是主体这是主体这是主体这是主体这是主体这是主体这是主体这是主体这是主体这是主体这是主体</p>
  </div>
  <div class="item">
    <p class="text">这是主体这是主体这是主体这是主体这是主体这是主体这是主体这是主体这是主体这是主体这是主体这是主体</p>
    <p class="text">这是主体这是主体这是主体这是主体这是主体这是主体这是主体这是主体这是主体这是主体这是主体这是主体</p>
  </div>
</main>
<hr/>